<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>uPVC Windows and Doors Manufacturer Suppliers in Delhi</title>
 <meta name="description" content="AS Window is one of the largest uPVC windows and doors manufacturers and suppliers in Delhi. It provides quality uPVC doors and windows with guarantees. Contact for uPVC window and door."/>
	<meta name="keywords" content="uPVC Windows and Doors Manufacturer Suppliers in Delhi, uPVC Windows and Doors Manufacturer, uPVC Windows and Doors Suppliers, uPVC Windows and uPVC Doors, uPVC Windows, uPVC Doors, uPVC windows in Delhi, AS Window"/> 
	<meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
   <meta property="og:title" content="uPVC Windows and Doors Manufacturer Suppliers in Delhi" />
   <meta property="og:url" content="https://www.aswindow.in/" />
   <meta property="og:site_name" content="uPVC Windows and Doors in Delhi" />
   <meta property="og:description" content="AS Window is one of the largest uPVC windows and doors manufacturers and suppliers in Delhi. It provides quality uPVC doors and windows with guarantees. Contact for uPVC window and door." />
   <meta property="og:image" content="https://www.aswindow.in/images/logo.png" />
	<link rel="canonical" href="https://www.aswindow.in/" />
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<!--MasterSlider-->
<link rel="stylesheet" href="css/masterslider/style/masterslider.css" />
<link href="css/masterslider/skins/default/style.css" rel="stylesheet">
<link href="css/masterslider/style/ms-caro3d.css" rel="stylesheet">
<!--End MasterSlider-->
<link href="css/style.css" rel="stylesheet">
<link href="css/slick.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
   
 	
    <!-- Main Header-->
    <header class="main-header">
    
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="https://www.aswindow.in/"><img src="images/logo.png" alt="uPVC Windows & Doors Manufacturer Suppliers" title="uPVC Windows & Doors Manufacturer Suppliers"></a></div>
                    </div>
                   	
                   	<!-- Main Menu End-->
					<div class="outer-box clearfix">
						<ul class="option-list">
							<li><a href="tel:18001206265"><span class="icon flaticon-phone-symbol-of-an-auricular-inside-a-circle"></span> <strong>18001206265</strong></a></li>
							<li><a href="mailto:info@aswindow.in"><span class="icon flaticon-mail"></span>info@aswindow.in</a></li>
						</ul>
					</div>
                   	   
                    <div class="nav-outer clearfix">
                    
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							</div>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="current"><a href="https://www.aswindow.in/">Home</a>
										
									</li>
									<li><a href="about.html">About us</a></li>
									<li class="dropdown"><a href="#">Windows</a>
										<ul>
											<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
											
										</ul>
									</li>
									<li class="dropdown"><a href="#">Doors</a>
										<ul>
											<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
											
										</ul>
									</li>
									
									<li><a href="gallery.html">Gallery</a></li>
								<li><a href="contact.html">Contact us</a></li>
								</ul>
							</div>
							
							
							
						</nav>
						
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="https://www.aswindow.in/" class="img-responsive"><img src="images/logo-small.png" alt="uPVC Windows and Doors Manufacturer Suppliers in Delhi" title="uPVC Windows & Doors Manufacturer Suppliers in Delhi"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="https://www.aswindow.in/">Home</a></li>
									
								
								<li><a href="about.html">About us</a></li>
								<li class="dropdown"><a href="#">Windows</a>
									<ul>
										<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Doors</a>
									<ul>
										<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
									</ul>
								</li>
								
								<li><a href="gallery.html">Gallery</a></li>
							<li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->

    <!--Main Slider-->
    <section class="main-slider">
    	
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url(images/main-slider/image-1.jpg)">
                <div class="auto-container">
                	<div class="content">
                   		<h2>uPVC Window</h2>
						<h3>That Open For <span>You All.</span></h3>
                    	<div class="text">Renowned for its explicit products Aswindow is one of the most trusted brands around the globe. </div>
                    	
                    </div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url(images/main-slider/image-2.jpg)">
                <div class="auto-container">
                	<div class="content">
                   		<h2>uPVC Door</h2>
						<h3>That Available in Wide Range of <span>Colors.</span></h3>
                    	<div class="text">Renowned for its explicit products Aswindow is one of the most trusted brands around the globe.</div>
                    	
                    </div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url(images/main-slider/image-6.jpg)">
                <div class="auto-container">
                	<div class="content">
                   		<h2>Prices</h2>
						<h3>We Will Beat Your Lowest <span>Quote.</span></h3>
                    	<div class="text">Renowned for its explicit products Aswindow is one of the most trusted brands around the globe. </div>
                    	
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Welcome Section-->
    <section class="welcome-section">
    
    	<div class="auto-container">
    		<!--Sec Title-->
    		<div class="sec-title">
				<h2>Welcome to <span class="theme_color">As window</span></h2>
			</div>
			<div class="row clearfix">
				
				<!--Image Column-->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/welcome-1.jpg" alt="Best uPVC Windows in Delhi" />
						</div>
					</div>
				</div>
				
				<!--Content Column-->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h1>uPVC Windows & Doors Manufacturer Suppliers in Delhi </h1>
						<div class="text">
							<p align="justify">Aswindow, the largest manufacturer of high quality UPVC Windows and UPVC Doors in Delhi NCR. We are serving the widest market across India with exclusively manufactured Casement Doors, Sliding Doors, Sliding Windows, Casement Windows, Bay Window & Combination Window, etc. Our products provide highest noise, dust and heat insulation values as well as conforming to relevant International Quality Standards.<br/><br/>
							The array is known for its exclusive design, innovative look, sound proof and dust proof nature. It deliver quality forever and maximum value to customers' money.
							</p>
							
						</div>
						<div class="percent"><span>60% </span>Of Commercial Place</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!--Address Box-->
		<section class="address-box">
			<div class="inner-box" style="background-image: url(images/background/pattern-1.png)">
				<div class="icon-box">
					<span class="icon flaticon-place"></span>
				</div>
				<h2>Address</h2>
				<div class="text">Plot No. - 36 , Third Floor 
Mohit Nagar , Sector-14 <br/>
Dwarka , New Delhi, 
Opp. NSIT</div>
			</div>
		</section>
    	<!--End Address Box-->
		
	</section>
    <!--End Welcome Section-->
    
    <section class="services-section">
    	<div class="outer-container">
    		<div class="auto-container">
    			<!--Sec Title-->
				<div class="sec-title centered">
					<div class="title-inner">
						<h2>Our Main <span class="theme_color">Services</span></h2>
					</div>
				</div>
			</div>
			<div class="single-item-carousel owl-carousel owl-theme">
				
				<!--Services Block-->
				<div class="services-block">
					<div class="inner-box">
						<div class="image-outer">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="uPVC Windows and uPVC Doors" />
								<a href="images/resource/service-1.jpg" class="overlay-box lightbox-image" data-fancybox="services-gallery" data-caption=""><span class="plus flaticon-plus-symbol"></span></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="big-icon flaticon-window"></div>
							<div class="icon-box">
								<span class="icon flaticon-window"></span>
							</div>
							<h3>UPVC Window</h3>
							<div class="text">Being the best among uPVC windows manufacturers in the Delhi NCR, Aswindow brings to you an extensive range of gorgeous and exquisite home window designs that will not only transform the façade of your house but also protect your home from the outside world. </div>
						</div>
					</div>
				</div>
				
				<!--Services Block-->
				<div class="services-block">
					<div class="inner-box">
						<div class="image-outer">
							<div class="image">
								<img src="images/resource/service-2.jpg" alt="Best uPVC Windows and uPVC Doors" />
								<a href="images/resource/service-2.jpg" class="overlay-box lightbox-image" data-fancybox="services-gallery" data-caption=""><span class="plus flaticon-plus-symbol"></span></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="big-icon flaticon-doorway"></div>
							<div class="icon-box">
								<span class="icon flaticon-doorway"></span>
							</div>
							<h3>UPVC Door</h3>
							<div class="text">If you are on the lookout for an internal door, a balcony door, or any other door types in Delhi NCR, then the vast collection of high-quality uPVC doors by Aswindow is sure to meet your needs and preferences. 
</div>
						</div>
					</div>
				</div>
				
				<!--Services Block-->
				<div class="services-block">
					<div class="inner-box">
						<div class="image-outer">
							<div class="image">
								<img src="images/resource/service-3.jpg" alt="Best uPVC Windows and uPVC Doors" />
								<a href="images/resource/service-3.jpg" class="overlay-box lightbox-image" data-fancybox="services-gallery" data-caption=""><span class="plus flaticon-plus-symbol"></span></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="big-icon flaticon-car-parts"></div>
							<div class="icon-box">
								<span class="icon flaticon-car-parts"></span>
							</div>
							<h3>Services & Repair</h3>
							<div class="text">Great explorer of the truth, the master-builder of human happiness. one rejects, dislikes, or avoids pleasure itself, because it is  but consequences that are extremely painful. </div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
   
  	<!--Window Tab Section-->
  	<section class="window-tab-section">
  		<div class="auto-container">
  		
  			<!--Sec Title-->
  			<div class="sec-title centered">
				<h2>What's Your <span class="theme_color">Style?</span></h2>
			</div>
			
			<!--Window Info Tabs-->
			<div class="window-info-tabs">
				<!--Window Tabs-->
				<div class="window-tabs tabs-box">

					<!--Tab Btns-->
					<div class="btns-outer text-center">
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#window-styles" class="tab-btn active-btn"><span class="icon flaticon-window"></span> Window Styles</li>
							<li data-tab="#door-styles" class="tab-btn"><span class="icon flaticon-doorway"></span> Door Styles</li>
						</ul>
					</div>
					
					<!--Tabs Container-->
					<div class="tabs-content">

						<!--Tab / Active Tab-->
						<div class="tab active-tab" id="window-styles">
							<div class="content">
								<div class="row clearfix">
									
									<!--Left Column-->
									<div class="left-column col-lg-3 col-md-6 col-sm-12">
										<div class="inner-column">
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Casement</h3>
													<div class="text">The Casement window opens inwards or outwards with the help of a sash that fixed on outer frame...</div>
													<div class="icon-box">
														<span class="icon flaticon-windows-1"></span>
													</div>
												</div>
											</div>
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Tilt & Turn</h3>
													<div class="text">Tilt and turn windows combine versatility with a smart, simple style ideally suited to modern homes.</div>
													<div class="icon-box">
														<span class="icon flaticon-window-2"></span>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<!--Image Column-->
									<div class="image-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<img src="images/resource/window-1.png" alt="uPVC Windows and uPVC Doors" />
												
												
											</div>
										</div>
									</div>
									
									<!--Right Column-->
									<div class="right-column col-lg-3 col-md-6 col-sm-12">
										<div class="inner-column">
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Top Rounded</h3>
													<div class="text">Know how to pursue pleasure encoun-consequences extremely ...</div>
													<div class="icon-box">
														<span class="icon flaticon-window-4"></span>
													</div>
												</div>
											</div>
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Bay & Bow</h3>
													<div class="text">Bay window are a combining of three or more windows together so that they angle out beyond the house wall....</div>
													<div class="icon-box">
														<span class="icon flaticon-window-3"></span>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="door-styles">
							<div class="content">
								<div class="row clearfix">
									
									<!--Left Column-->
									<div class="left-column col-lg-3 col-md-6 col-sm-12">
										<div class="inner-column">
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Top Rounded</h3>
													<div class="text">Know how to pursue pleasure encoun-consequences extremely ...</div>
													<div class="icon-box">
														<span class="icon flaticon-window-4"></span>
													</div>
												</div>
											</div>
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Sliding</h3>
													<div class="text">Sliding doors are ideal for homes that require space-economy.</div>
													<div class="icon-box">
														<span class="icon flaticon-window-3"></span>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<!--Image Column-->
									<div class="image-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<img src="images/resource/window-1.png" alt="uPVC Windows and uPVC Doors" />
												
												<!--Frame One-->
												
												
											</div>
										</div>
									</div>
									
									<!--Right Column-->
									<div class="right-column col-lg-3 col-md-6 col-sm-12">
										<div class="inner-column">
											
                                            <!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Casement</h3>
													<div class="text">Casement door features a single sash that is hinged from the side onto a frame and can be opened on either side.</div>
													<div class="icon-box">
														<span class="icon flaticon-windows-1"></span>
													</div>
												</div>
											</div>
											
											<!--Featured Block-->
											<div class="featured-block">
												<div class="inner-box">
													<h3>Tilt & Turn</h3>
													<div class="text">Tilt N Turn Doors offer the ultimate in protection for your home</div>
													<div class="icon-box">
														<span class="icon flaticon-window-2"></span>
													</div>
												</div>
											</div>
                                            
											
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
  	<!--End Window Tab Section-->
    
    <!--Gallery Section-->
    <section class="gallery-section">
		<div class="inner-section" style="background-image: url(images/background/pattern-2.png)">
			<!--Title Box-->
			<div class="title-box">
				<div class="sec-title centered">
					<div class="title-inner">
						<h2> <span class="theme_color">Gallery</span></h2>
					</div>
				</div>
			</div>
			<!--Carousel Box-->
			<div class="carousel-box">
				<div class="auto-container">
					
					<!-- Slider -->
					<div class="ms-caro3d-template">
						<!-- masterslider -->
						<div class="master-slider ms-skin-default" id="master-gallery-slider">
							<!--Slide-->
							<div class="ms-slide">
								<div class="content-layer">
									<div class="image">
										<a href="images/gallery/11.jpg" class="lightbox-image" data-fancybox="latest-gallery"><img src="images/gallery/11.jpg" alt="uPVC Windows & uPVC Doors" /></a>
									</div>
									<h3><a href="gallery.html">Multipoint Lock System</a></h3>
								</div>
							</div>
							<!--Slide-->
							<div class="ms-slide">
								<div class="content-layer">
									<div class="image">
										<a href="images/gallery/12.jpg" class="lightbox-image" data-fancybox="latest-gallery"><img src="images/gallery/12.jpg" alt="uPVC Doors" /></a>
									</div>
									<h3><a href="gallery.html">Multipoint Lock System</a></h3>
								</div>
							</div>
							<!--Slide-->
							<div class="ms-slide">
								<div class="content-layer">
									<div class="image">
										<a href="images/gallery/13.jpg" class="lightbox-image" data-fancybox="latest-gallery"><img src="images/gallery/13.jpg" alt="uPVC Windows" /></a>
									</div>
									<h3><a href="gallery.html">Multipoint Lock System</a></h3>
								</div>
							</div>
						</div>
						<!-- end of masterslider -->
					</div>
					<!-- end of Slider -->
					
				</div>
			</div>
		</div>
	</section>
    <!--End Gallery Section-->
    
    <!--Fluid Section One-->
    <section class="fluid-section-one">
    	<div class="outer-container clearfix">
        	
            <!--Content Column-->
            <div class="content-column clearfix">
            	<div class="inner-column">
            		<div class="sec-title">
						<h2>Upvc Key <span class="theme_color">Features</span></h2>
					</div>
					
					<div class="single-vertical-carousel">
						
						<div class="slide">
							
							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-rain"></span>
										<span class="number">1</span>
									</div>
									<div class="content">
										<h3>Weather Resistance</h3>
										<div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil.</div>
									</div>
								</div>
							</div>

							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-handle"></span>
										<span class="number">2</span>
									</div>
									<div class="content">
										<h3>High Security</h3>
										<div class="text">Nor again is there anyone who loves or pursues or desires to because it  pain, but because occasionally.</div>
									</div>
								</div>
							</div>

							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-speaker-1"></span>
										<span class="number">3</span>
									</div>
									<div class="content">
										<h3>Sound Insulation</h3>
										<div class="text">Nor again is there anyone who loves or pursues or desires to because it  pain, but because occasionally.</div>
									</div>
								</div>
							</div>
						
						</div>
						
						<div class="slide">
							
							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-rain"></span>
										<span class="number">1</span>
									</div>
									<div class="content">
										<h3>Weather Resistance</h3>
										<div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil.</div>
									</div>
								</div>
							</div>

							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-handle"></span>
										<span class="number">2</span>
									</div>
									<div class="content">
										<h3>High Security</h3>
										<div class="text">Nor again is there anyone who loves or pursues or desires to because it  pain, but because occasionally.</div>
									</div>
								</div>
							</div>

							<!--Key Block-->
							<div class="key-block">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-speaker-1"></span>
										<span class="number">3</span>
									</div>
									<div class="content">
										<h3>Sound Insulation</h3>
										<div class="text">Nor again is there anyone who loves or pursues or desires to because it  pain, but because occasionally.</div>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
            	</div>
			</div>
			
			<!--Image Column-->
            <div class="image-column" style="background-image:url(images/resource/image-1.jpg);">
            	<figure class="image-box"><img src="images/resource/image-1.jpg" alt="uPVC Windows and uPVC Doors"></figure>
            </div>
		
		</div>
	</section>
    <!--End Fluid Section One Section-->

	

	
	
	
	
	<!--Main Footer-->
    <footer class="main-footer">
    
		<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Footer Column-->
                   
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget news-widget">
							<h2>About Company</h2>
							
							<!--News Widget Block-->
							<div class="news-widget-block">
								<div class="">
									
									
									<div class="post-date" align="justify">Aswindow, the largest manufacturer of high quality UPVC Windows and UPVC Doors in Delhi NCR. We are serving the widest market across India with exclusively manufactured Casement Doors, Sliding Doors, Sliding Windows, Casement Windows, Bay Window & Combination Window, etc.</div>
								</div>
							</div>
							
							

						</div>
					</div>
					
					 <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<h2> Links</h2>
							<div class="row clearfix">
									
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="footer-link">
										<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
										
									</ul>
								</div>
								
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="footer-link">
										<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
										
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget newsletter-widget">
							<h2>Social Links</h2>
							<div class="widget-content">
								
								
								<!--Social Icon One-->
								<ul class="social-icon-one">
									<li><a href="https://www.facebook.com/aswindowdelhi" target="_blank"><span class="icon fa fa-facebook"></span>facebook</a></li>
									<li><a href="#"><span class="icon fa fa-twitter"></span>twitter</a></li>
									<li><a href="#"><span class="icon fa fa-instagram"></span>instagram</a></li>
									
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<!--Footer Bottom-->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="row clearfix">
					
					<div class="column col-lg-7 col-md-12 col-sm-12">
						<div class="logo">
							<a href="https://www.aswindow.in/"><img src="images/footer-logo.png" alt="uPVC Windows and Doors Manufacturer" title="uPVC Windows & Doors Manufacturer"/></a>
						</div>
						<div class="copyright">Copyright © 2022 Aswindow - All rights reserved.</div>
					</div>
					
					
					<div class="column col-lg-5 col-md-12 col-sm-12">
						<ul class="footer-nav clearfix">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Condition</a></li>
							<li><a href="#">Legal</a></li>
							

						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
	</footer>
	<!--End Main Footer-->
	
</div>
<!--End pagewrapper-->

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery-ui.js"></script>
<!-- Master Slider -->
<script src="js/masterslider/jquery.easing.min.js"></script>
<script src="js/masterslider/masterslider.min.js"></script>
<!--End Master Slider -->

<script src="js/script.js"></script>



</body>
</html>