<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>uPVC Windows Manufacturers Gurugram | uPVC Windows Manufacturers</title>
<meta name="description" content="AS Window, best uPVC Windows manufactures in Gurugram and have installed uPVC windows and doors all over Delhi NCR. They provide the superior Quality uPVC Doors and Windows at the best price."/>
	<meta name="keywords" content="uPVC Windows Manufacturers Gurugram, uPVC Windows Manufacturers Delhi, AS Window"/> 
	<meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
   <meta property="og:title" content="uPVC Windows Manufacturers Gurugram" />
   <meta property="og:url" content="https://www.aswindow.in/" />
   <meta property="og:site_name" content="uPVC Windows Manufacturers Gurugram" />
   <meta property="og:description" content="AS Window, we are well-reckoned best Quality manufacturer and provider of aluminum, uPVC Window Suppliers in Gurugram." />
   <meta property="og:image" content="https://www.aswindow.in/images/logo.png" />
	<link rel="canonical" href="https://www.aswindow.in/sliding-window.html" />
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<!--MasterSlider-->
<link rel="stylesheet" href="css/masterslider/style/masterslider.css" />
<link href="css/masterslider/skins/default/style.css" rel="stylesheet">
<link href="css/masterslider/style/ms-caro3d.css" rel="stylesheet">
<!--End MasterSlider-->

<link href="css/style.css" rel="stylesheet">
<link href="css/slick.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
   
 	
    <!-- Main Header-->
    <header class="main-header">
    
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="https://www.aswindow.in/"><img src="images/logo.png" alt="uPVC Windows Manufacturers Delhi" title="uPVC Windows Manufacturers Gurugram"></a></div>
                    </div>
                   	
                   	<!-- Main Menu End-->
					<div class="outer-box clearfix">
						<ul class="option-list">
							<li><a href="tel:18001206265"><span class="icon flaticon-phone-symbol-of-an-auricular-inside-a-circle"></span> <strong>18001206265</strong></a></li>
							<li><a href="mailto:info@aswindow.in"><span class="icon flaticon-mail"></span>info@aswindow.in</a></li>
						</ul>
					</div>
                   	   
                    <div class="nav-outer clearfix">
                    
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							</div>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li><a href="https://www.aswindow.in/">Home</a>
										
									</li>
									<li><a href="about.html">About us</a></li>
									<li class="dropdown current"><a href="#">Windows</a>
										<ul>
											<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
											
										</ul>
									</li>
									<li class="dropdown"><a href="#">Doors</a>
										<ul>
											<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
											
										</ul>
									</li>
									
									<li><a href="gallery.html">Gallery</a></li>
								<li><a href="contact.html">Contact us</a></li>
								</ul>
							</div>
							
							
							
						</nav>
						
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="https://www.aswindow.in/" class="img-responsive"><img src="images/logo-small.png" alt="uPVC Windows Manufacturers Gurugram" title="uPVC Windows Manufacturers Gurugram"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li><a href="https://www.aswindow.in/">Home</a></li>
									
								
								<li ><a href="about.html">About us</a></li>
								<li class="dropdown current"><a href="#">Windows</a>
									<ul>
										<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Doors</a>
									<ul>
										<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
									</ul>
								</li>
								
								<li><a href="gallery.html">Gallery</a></li>
							<li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->

     <section class="page-title" style="background-image:url(images/background/2.jpg)">
    	<div class="auto-container">
        	<h1>uPVC Windows Manufacturers Gurugram</h1>
            <ul class="page-breadcrumb">
            	<li><a href="https://www.aswindow.in/">Home</a></li>
                <li>Pages</li>
				<li>Sliding Window</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Company Section-->
	<section class="company-section">
		<div class="auto-container">
			
			<!--Sec Title-->
			<div class="sec-title">
				<h2> <span class="theme_color">Sliding Window</span> </h2>
			</div>
			<div class="row clearfix">
				
				
				
				<!--Mission Column-->
				<div class="mission-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<div class="text" align="justify">We have emerged as a leading Sliding window manufacturer in India. Our double glazed sliding windows are very popular fixture in homes and offices purpose as they are very easy and convenient to use. They are also cost-effective as they are made of durable material and require very low maintenance.
<br/><br/>
These Double glazed sliding windows have one fixed pane and one sliding pane, which rolls on a track inside the window frame to open or close. They have dual seals and take a 22mm double glazed unit. The maximum size for these sliding windows is 1200 mm wide x 1600 mm high. Our sliding window range are very popular for many uses as it provides modern clean lines and is ideal for areas where space is limited. Additionally our upvc sliding windows boast secure multi-locking hardware, toughened glass and effortless sliding action. A separate sliding track can be added for a sliding fly screen.</div>
						
					<ul class="list-style-one"><li>	One,two and three track sliding, window and fly screen options.</li>
        	<li>Multi-chamber profile design, frame depth from 62 to 112 mm.</li>
        	<li>10 mm sash overlap for enhanced performance.</li>
        	<li> Internal glazing options from 4 mm single to 22 mm double.</li>
		
			<li> There is a Choice of single or multi-point locking devices.</li></ul>
					</div>
				</div>
				
				<div class="mission-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						
						<div class="row clearfix">
							
								<div class="image">
									<a href="images/resource/sliding-window-500x500.jpg" class="overlay-box lightbox-image" data-fancybox="mission-gallery" data-caption=""><img src="images/resource/sliding-window-500x500.jpg" alt="uPVC Windows Manufacturers Gurugram" /></a>
								</div>
							
							
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	<!--End Company Section-->
	
	
	

	
	<!--Main Footer-->
    <footer class="main-footer">
    
		<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Footer Column-->
                   
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget news-widget">
							<h2>About Company</h2>
							
							<!--News Widget Block-->
							<div class="news-widget-block">
								<div class="">
									
									
									<div class="post-date" align="justify">Aswindow, the largest manufacturer of high quality UPVC Windows and UPVC Doors in Delhi NCR. We are serving the widest market across India with exclusively manufactured Casement Doors, Sliding Doors, Sliding Windows, Casement Windows, Bay Window & Combination Window, etc.</div>
								</div>
							</div>
							
							

						</div>
					</div>
					
					 <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<h2> Links</h2>
							<div class="row clearfix">
									
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="footer-link">
										<li><a href="casement-window.html">Casement Window</a></li>
											<li><a href="sliding-window.html">Sliding Window</a></li>
											<li><a href="tilt-and-turn-window.html">Tilt & Turn Window</a></li>
											<li><a href="bay-window.html">Bay Window</a></li>
										
									</ul>
								</div>
								
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="footer-link">
										<li><a href="casement-door.html">Casement Door</a></li>
											<li><a href="sliding-door.html">Sliding Door</a></li>
											<li><a href="slide-and-fold-door.html">Slide & Fold Door</a></li>
											<li><a href="lift-and-slide-door.html">Lift & Slide Door</a></li>
										
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget newsletter-widget">
							<h2>Social Links</h2>
							<div class="widget-content">
								
								
								<!--Social Icon One-->
								<ul class="social-icon-one">
									<li><a href="https://www.facebook.com/aswindowdelhi" target="_blank"><span class="icon fa fa-facebook"></span>facebook</a></li>
									<li><a href="#"><span class="icon fa fa-twitter"></span>twitter</a></li>
									<li><a href="#"><span class="icon fa fa-instagram"></span>instagram</a></li>
									
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<!--Footer Bottom-->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="row clearfix">
					
					<div class="column col-lg-7 col-md-12 col-sm-12">
						<div class="logo">
							<a href="https://www.aswindow.in/"><img src="images/footer-logo.png" alt="uPVC Windows Manufacturers Gurugram" /></a>
						</div>
						<div class="copyright">Copyright © 2022 Aswindow - All rights reserved.</div>
					</div>
					
					
					<div class="column col-lg-5 col-md-12 col-sm-12">
						<ul class="footer-nav clearfix">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Condition</a></li>
							<li><a href="#">Legal</a></li>
							

						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
	</footer>
	<!--End Main Footer-->
	
</div>
<!--End pagewrapper-->

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery-ui.js"></script>
<!-- Master Slider -->
<script src="js/masterslider/jquery.easing.min.js"></script>
<script src="js/masterslider/masterslider.min.js"></script>
<!--End Master Slider -->

<script src="js/script.js"></script>



</body>
</html>